In [1]:
#import related package
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# get current working directory
import os
os.getcwd()

'C:\\Users\\Athirah\\Desktop\\Final MILESTONE-athirah razak'

In [3]:
# import klse data market(volume for each counter)
klse = pd.read_csv('Main Stock-Klse.csv')

In [4]:
# make the dates as index
klse = klse.set_index(pd.to_datetime(klse['Dates']), inplace = False, drop = True)
klse = klse.drop('Dates', axis = 1)
klse.head()

,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Adj Close.4,Adj Close.5,Adj Close.6,Adj Close.7,Adj Close.8,Adj Close.9,...,Volume.139,Volume.140,Volume.141,Volume.142,Volume.143,Volume.144,Volume.145,Volume.146,Volume.147,Volume.148
Dates,,,,,,,,,,,,,,,,,,,,,
2014-12-22,0.080,0.264395,0.227832,0.372355,0.290,0.711211,1.286834,0.137289,0.655447,0.839933,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-23,0.085,0.269033,0.225722,0.356764,0.285,0.705909,1.270013,0.132386,0.661662,0.830391,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-24,0.090,0.269033,0.223612,0.365428,0.290,0.695289,1.261602,0.132386,0.660106,0.833566,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-26,0.085,0.269033,0.223612,0.368891,0.290,0.695289,1.261602,0.137289,0.670982,0.836749,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-29,0.090,0.269033,0.217284,0.365428,0.300,0.700599,1.253192,0.132386,0.675641,0.830391,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#since we have 894 counter in klse
#we decide to filter it out by looking at the mean volume, 
#if the mean volume of each counter is below total volume, we drop

klse.describe()

,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Adj Close.4,Adj Close.5,Adj Close.6,Adj Close.7,Adj Close.8,Adj Close.9,...,Volume.139,Volume.140,Volume.141,Volume.142,Volume.143,Volume.144,Volume.145,Volume.146,Volume.147,Volume.148
count,705.000000,984.000000,987.000000,991.000000,992.000000,991.000000,991.000000,984.000000,985.000000,987.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,0.071780,0.239171,0.704979,0.431257,0.347082,1.422885,1.710819,0.451292,1.519634,1.747358,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.012672,0.025427,0.387566,0.133328,0.138522,0.658417,0.384796,0.518348,0.541648,0.619495,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.040000,0.176170,0.217284,0.204399,0.190000,0.695289,0.770840,0.122579,0.652343,0.763574,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.065000,0.225106,0.378260,0.337496,0.250000,0.935621,1.601543,0.166708,1.147238,1.333787,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.070000,0.239787,0.638621,0.392161,0.300000,1.084221,1.801838,0.240256,1.426548,1.558408,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,0.080000,0.255000,1.002144,0.535000,0.385000,2.261024,1.979279,0.402453,2.010241,1.980564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,0.110000,0.300000,1.601465,0.759521,0.755000,2.678108,2.210830,2.390000,2.885851,3.698022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
klse.mean().describe()

count    7.980000e+02
mean     8.207041e+05
std      3.101235e+06
min      3.785221e-02
25%      5.547783e-01
50%      1.483316e+00
75%      5.489932e+00
max      3.361550e+07
dtype: float64

In [10]:
#to check how many counters that the volume is above the mean
mean = klse.mean()
meandf = pd.DataFrame(mean)
meandf[meandf[0] > 1.414910e+06].head()
print(f"Number of Stock Counters have Volume above Average are", len(meandf[meandf[0] > 8.207041e+05]), "Counters" , "and we will filter the active counter")

Number of Stock Counters have Volume above Average are 106 Counters and we will filter the active counter

In [12]:
klse.to_csv('klse_v2.csv')